# These are the ignores for the project and not ignores set as 
# part of the dotfiles

# ignore emacs autosaveslist
.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/eshell
.emacs.d/url
.emacs.d/ido.last

# ignore the babel compiled el file from config.org
.emacs.d/config.el

