# These are the ignores for the project and not ignores set as 
# part of the dotfiles

# ignore emacs autosaveslist
.emacs.vanilla.d/auto-save-list
.emacs.vanilla.d/elpa
.emacs.vanilla.d/eshell
.emacs.vanilla.d/bookmarks
.emacs.vanilla.d/session*
.emacs.vanilla.d/tramp
.emacs.vanilla.d/url
.emacs.vanilla.d/ido.last

# ignore the babel compiled el file from config.org
.emacs.vanilla.d/config.el

# ignore editor swap files etc.
*~
\#*\#
*.swp
*.swo

